@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --font-default: "Geist", sans-serif;
    /* --font-serif: "Playfair Display", serif; */
    --font-serif: "PT Serif", serif;
    --font-size: 16px;
    /* --color: rgba(0, 0, 0, 0.9); */

    --accent: rgb(239, 191, 4);
    --accent-light: rgba(239, 191, 4, 0.4);
    --accent-lighter: rgba(239, 191, 4, 0.25);
    --accent-lightest: rgba(239, 191, 4, 0.1);

    /* --border: rgba(0, 0, 0, 0.1); */
    --border: oklab(0.21 0.00164224 -0.00577088 / 0.2);
    /* --border-light: rgba(0, 0, 0, 0.05); */
    --border-light: oklch(0.21 0.006 285.885 / 0.1);
    --border-lighter: oklch(0.21 0.006 285.885 / 0.05);
    --border-lightest: oklch(0.21 0.006 285.885 / 0.04);

    --darkest: rgba(0, 0, 0, 0.95);
    --darker: rgba(0, 0, 0, 0.9);
    --dark: rgba(0, 0, 0, 0.7);
    --light: rgba(0, 0, 0, 0.3);
    --lighter: rgba(0, 0, 0, 0.10);
    --lightest: rgba(0, 0, 0, 0.05);

    --shadow-sm: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --shadow-md: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --transition: all 100ms ease-in-out;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    font-family: var(--font-default);
    font-size: 0.875rem;
    color: var(--darker);
}