@import url(./root.css);

.flex-center {
    align-items: center;
    display: flex;
}
.between {
    /* align-items: center; */
    /* display: flex; */
    justify-content: space-between;
}
.shadow {
    box-shadow: var(--shadow);
    transition: box-shadow 100ms ease-in-out;
}
.shadow:hover {
    box-shadow: var(--shadow-hover);
}
.flat {
    background-color: var(--ivory);
    box-shadow: none;
}
