@import url(./root.css);

.serif {
    font-family: 'EB Garamond', serif;
}
.flex-center {
    align-items: center;
    display: flex;
}
.between {
    /* align-items: center; */
    /* display: flex; */
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.shadow {
    box-shadow: var(--shadow);
    transition: box-shadow 100ms ease-in-out;
}
.shadow:hover {
    box-shadow: var(--shadow-hover);
}
.flat {
    background-color: var(--ivory);
    box-shadow: none;
}
.fl-content {
    /* border: 2px solid blue; */
    /* height: 100%; */
    overflow-y: auto;
    flex: 1;
}
.fl-sub-wrapper {
    /* border: 2px solid red; */
    display: grid;
    flex: 1;
    grid-template-rows: auto 1fr;
    /* flex-direction: column; */
    height: 100%;
}
.fl-full-scrollable {
    /* height: 100%; */
    overflow-y: auto;
    scrollbar-width: none;
}
/* .fl-page { */
    /* background-color: var(--white); */
    /* border-radius: 0.5rem; */
    /* box-shadow: var(--shadow); */
    /* margin: 0.5rem; */
/* } */
.fl-page-header {
    padding: 0.5rem;
}
.fl-page-controls {
    gap: 0.5rem;
}
.fl-page-content {
    /* border: 2px solid red; */
    padding: 0.5rem;
}
.fl-page-content > div {
    height: 1000px;
}

.fl-sub-content {
    padding: 0.5rem 0.5rem 1rem;
}
