:root {
    /* --accent: #AF45C5; */
    /* --accent: #014D4E; */
    /* --accent: #036C5F; Dark Teal */

    --azure-50: #f0f8fe;
    --azure-100: #deeefb;
    --azure-200: #c4e2f9;
    --azure-300: #9cd1f4;
    --azure-400: #6db6ed;
    --azure-500: #4b99e6;
    --azure-600: #2d78d8;
    --azure-700: #2d69c8;
    --azure-800: #2b56a2;
    --azure-900: #274a81;
    --azure-950: #1c2e4f;

    --red-50: #fef2f2;
    --red-100: #fee2e2;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-400: #f87171;
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-800: #991b1b;
    --red-900: #7f1d1d;
    --red-950: #450a0a;

    --accent: #435b30; /* Dark Teal */
    --accent-light: #036C5F66; /* Dark Teal */
    --accent-border: #036C5F44;
    /* --accent-pale: #c3ffef; */
    --accent-border-pale: #e5edda;
    --accent-pale: #f3f7ee;
    /* --accent: #C5A35A; */
    /* --border: #E6E6E6; */
    --border: #DCDCDC;
    --border-light: #EDEDED;
    --border-lighter: #F6F6F6;
    --border-lightest: #FCFCFC;
    --border-semi-light: #E8E8E8;
    --border-radius: 0.375rem;
    
    --muted: oklch(0.279 0.041 260.031);
    --primary: oklch(0.208 0.042 265.755);
    /* --primary: oklch(0.129 0.042 264.695); */

    /* --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --shadow-hover: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --cream: #F2EAD8;
    --espresso: #382A20;
    --gold: #C5A35A;
    --gold-light: #D9B97A;
    --gold-pale: #F0E4C2;
    --ivory: #FAF6F0;
    --purple: #AF45C5;
    --sand: #E8D9BC;
    --off-white: #FDFCFA;
    --white: #fff;

    --lightest: #FCFCFC;
    --lighter: #F6F6F6;
    --light: #EDEDED;
    --semi-light: #E8E8E8;

    --darkest: #1B1B1B;
    --darker: #2E2E30;
    --dark: #59595B;
    --semi-dark: #727272;

    --font-default: system-ui, sans-serif;



    /* Teal Shades */
    /* #025043 */
    /* #036C5F */
    /* #037C6E */
    /* #048C7F */
    /* #05998C */
    /* #28A99E */
    /* #4FB9AF */
    /* #81CDC6 */
    /* #B3E0DC */
}

[data-theme="azure"] {
    --primary-lightest: #f0f8fe;
    --primary-lighter: #deeefb;
    --primary-light: #c4e2f9;
    --primary-semi-light: #9cd1f4;
    --primary: #2d78d8;
    --primary-dark: #2b56a2;
    --primary-darker: #274a81;
    --primary-darkest: #1c2e4f;

    --alert-lightest: #fef2f2;
    --alert-lighter: #fee2e2;
    --alert-light: #fca5a5;
    --alert-semi-light: #f87171;
    --red-500: #ef4444;
    --alert: #dc2626;
    --alert-semi-dark: #b91c1c;
    --alert-dark: #991b1b;
    --alert-darker: #7f1d1d;
    --alert-darkest: #450a0a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
    overflow: hidden;
} */

body {
    background-color: var(--white);
    /* border: 2px solid red; */
    color: var(--darker);
    font-family: var(--font-default);
    font-optical-sizing: auto;
    font-style: normal;
}

input {
    color: var(--darker);
}

input[type=text],
select {
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.25px;
    border: none;
    outline: none;
}

.wrapper {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}